erik-timezone-app/src/main/mule/timezone-app.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="timezone-app-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="timezone-app-config" api="resource::d56076b0-1c4c-425e-94f9-8ecb3ba7eda5:erik-timezone-app:1.0.0:oas:zip:timezone-app.yaml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="9bf5aec0-1c84-4211-b6b5-becbd7300e92" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="timezone-app-main">
        <http:listener config-ref="timezone-app-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="timezone-app-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="timezone-app-console">
        <http:listener config-ref="timezone-app-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="timezone-app-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\timezone:timezone-app-config">
        <http:request method="GET" doc:name="Request" doc:id="8210aaf3-fa4e-4801-8dcd-7b430a42b8e2" config-ref="HTTP_Request_configuration" path="/api/timezone"/>
		<logger level="INFO" message="get:\timezone:timezone-app-config" />
		<error-handler ref="timezone-app-error_handler" />
    </flow>
    <flow name="get:\timezone\(area):timezone-app-config">
        <http:request method="GET" doc:name="Request" doc:id="ba56edbe-cc66-4e77-bea4-b4b8e4e5fe42" config-ref="HTTP_Request_configuration" path="#['/api/timezone/' ++ attributes.uriParams.area]"/>
        <logger level="INFO" message="get:\timezone\(area):timezone-app-config" />
		<error-handler ref="timezone-app-error_handler" />
    </flow>
    <flow name="get:\timezone\(area)\(location):timezone-app-config">
        <http:request method="GET" doc:name="Request" doc:id="9bbfd765-37d7-4916-9379-af9a536d9a7e" path="#['/api/timezone/' ++ attributes.uriParams.area ++ '/' ++ attributes.uriParams.location]" config-ref="HTTP_Request_configuration"/>
		<logger level="INFO" message="get:\timezone\(area)\(location):timezone-app-config" />
		<error-handler ref="timezone-app-error_handler" />
    </flow>
    <flow name="get:\timezone\(area)\(location)\(region):timezone-app-config">
        <http:request method="GET" doc:name="Request" doc:id="72e27947-5bbd-40ee-a3c3-f283cafbe514" config-ref="HTTP_Request_configuration" path="#['/api/timezone/' ++ attributes.uriParams.area ++ '/' ++ attributes.uriParams.location ++ '/' ++ attributes.uriParams.region]"/>
        <logger level="DEBUG" message="get:\timezone\(area)\(location)\(region):timezone-app-config" />
		<error-handler ref="timezone-app-error_handler" />
    </flow>
	<error-handler name="timezone-app-error_handler" doc:id="e6b1c026-99b9-43b6-b5a4-7fbb5c4c7566" >
		<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="6896dc1a-fa99-4e20-8b53-1d9ddca9ffc0" type="HTTP:NOT_FOUND">
			<ee:transform doc:name="Transform HTTP Error">
                <ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    description: error.description,
}]]></ee:set-payload>
                </ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
					</ee:variables>
            </ee:transform>
		</on-error-propagate>
	</error-handler>
</mule>